.PageContent{

    display: flex;
    flex-direction: row;
   
}

.vertical-line {
    border-left : 1px solid #dddddd;
    height : 100vh;
}

.filter{
    margin:20px 50px;
}
.itemlist{
    margin: 10px;
}

.Search{
	margin-right: 40px;
	width: 300px;
	float: right;
    padding: 5px;
    border: 1px solid  #dddddd;
    border-radius: 15px;

}


.Search > input {
    border: none;
    background-color:transparent;
    outline: none;
    font-size: 20px;
    height: 40px;
    margin-left: 10px;
}

.Search > button{
    border: none;
    background-color:transparent;
    outline: none;
    float: right;
}

.Search >button> img{
   width: 35px;
   height: 35px;
  margin: 5px;
}

.TagSearch{
    position: relative;
    height: 70px;
    border-bottom: 1px solid  #dddddd;
    
}

.markettitle{
    margin: 30px;
}

.tagtitle{
    font-weight: 800;
    margin: 0px 0px 10px 30px;
}

.Tags{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    float: left;
}

.tagitem{
    text-align: center;
    overflow: hidden;
   width: 80px;
   height: 40px;
    border: 1px solid  #dddddd;
    border-radius: 15px;
    background-color: rgb(150, 150, 255);
    color: white;
    margin: 10px;
}

.loading {
    display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
  }
  @keyframes spinner {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
  }
   
  .spinner {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 164px;
    height: 164px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 50%;
    border: 12px solid transparent;
    border-top-color: #4055f6;
    border-bottom-color: #4668fe;
    animation: spinner 1.3s ease infinite;
  }